{# device_type: lpcxpresso55s69 #}
{% extends 'base.jinja2' %}
{% set usb_vendor_id = '1366' %}
{% set usb_product_id = '0105' %}
{% block body %}
board_id: '{{ board_id|default('0000000000') }}'
usb_vendor_id: '{{ usb_vendor_id }}'
usb_product_id: '{{ usb_product_id }}'

actions:
  deploy:
    connections:
      lxc:
    methods:
      lxc:
      image:
        parameters:

  boot:
    connections:
      serial:
      lxc:
      ssh:
    methods:
      lxc:
      pyocd:
        parameters:
          command:
            {{ pyocd_command|default("pyocd-flashtool") }}
          options:
          - -d {{ debug|default('debug') }}
          - -t lpc55s69
          connect_before_flash: true
      jlink:
        parameters:
          command:
            JLinkExe
          address:
            0x00000000
          options:
          - '-device LPC55S69_core0'
          - '-if SWD'
          - '-speed auto'
{% endblock body -%}

{% set device_info = device_info|default([{'board_id': board_id, 'usb_vendor_id': usb_vendor_id, 'usb_product_id': usb_product_id}]) %}
